/*font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Merriweather Sans', sans-serif;
font-family: 'Archivo Narrow', sans-serif;
font-family: 'Tinos', serif; */

body {
    background-color: black;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    color: white;
}
td.home_pic{
  background-color: black;
}

#edu,#skill{
  font-size: 18px;
  font-weight: initial;
}

body.gallery{
  background-color: black;
}

 h2.head{
   font-size: 24px;
    color: rgb(122, 240, 205);
 }
p.info{
  font-family: sans-serif;
  font-style: normal;
  font-size: 20px;
}

h2#name{
  font-size: 40px;
  font-family: sans-serif;
}

#info{
  padding-bottom: 10px;
  border-bottom:2px solid;
  border-bottom-color: white;
}

td {
   padding-left: 20px;
   padding-right: 20px;
   padding-top: 0px;
}

div {
    border: 0px;
    margin: 0px;
  }

  .thick-black-border{
    width: 350px;
    border-color: black;
    border-width: 0px;
    border-style: solid;

  }



  /* Style the top navigation bar */
.topnav {
  overflow: hidden;
  height: px;
}

/* Style the topnav links */
.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}


div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 200px;
}

div.gallery:hover {
border: 1px solid rgb(7, 0, 107);
}

div.gallery img {
width: 100%;
height: auto;
}

div.desc {
height: 60px;
padding-top: 10px;
padding-bottom: 10px;
text-align: center;
font-weight: normal;
color: whitesmoke;
font-family: 'Tinos', serif;
}

.cont_form {
  font-weight: normal;
}

#gal_h{
 font-size: 22px;
 font-style: italic;
}


 